<form action="/pirates" method=post">
  <label for="pirate_name">Pirate Name:</label>
  <input type="text" name="pirate[name]">
  
  <label for="pirate_weight">Pirate Weight:</label>
  <input type="text" name="pirate[weight]">
  
  <label for="pirate_height">Pirate Height:</label>
  <input type="text" name="pirate[height]">
  
  </form></form></form>
