<form action="/pirates" method=post">
  <label for="pirate_name">Pirate Name:</label>
  <input type="text" name="pirate[name]">
  
  <label for="pirate_weight">Pirate Weight:</label>
  <input type="text" name="pirate[weight]">
  
  <label for="pirate_height">Pirate Height:</label>
  <input type="text" name="pirate[height]">
  
  <label for="ship_name">Ship Name:</label>
  <input id="ship_name1" type="text" name="pirate[ships][][name]">
  
  <label for="ship_type">Ship Type:</label>
  <input id="ship_type1" type="text" name="pirate[ships][][type]">
  
  <label for="ship_booty">Ship Booty:</label>
  <input id="ship_type1" type="text" name="ship[booty]">
  </form></form></form></form>
