<h1>Pirate</h1>

<div class="pirate"></div>
  <h2><%= @pirate.name %></h2><br>
  <h2><%= @pirate.weight%></h2><br>
  <h2><%= @pirate.height%></h2><br>
</div><br>


<h2>Display your second ship here</h2>
